.basket-item {
  display: grid;
  box-sizing: border-box;
  grid-template-areas: 
  "image description delete-button"
  "image price delete-button";
  width: 325px;
  height: 119px;
  padding: 30px 20px;
  border: 1px solid #F3F3F3;
  border-radius: 20px;
}