.card__add-button_active {
  background-color:#89F09C;
  background-image: url(../../../../images/add-button-active.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 11px 9px;
}